SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_ENGINE=sqlite
POSTGRES_DB=kyly_picking_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SESSION_COOKIE_SECURE=False
